<!DOCTYPE html>
<html lang="en">

    <head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icons.png" />
    <link rel="icon" type="image/png" href="assets/img/favicons.png" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <title>SCOOTERS ANYWHERE</title>

  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

  <!-- CSS Files -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"  />
    <link href="/css/material-kit.css?v=1.2.1" rel="stylesheet" type="text/css" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="/assets-for-demo/vertical-nav.css" rel="stylesheet" type="text/css"  />
  <link href="/assets-for-demo/demo.css" rel="stylesheet"  type="text/css" />

</head>

<body class="section-white">


    <nav class="navbar navbar-default navbar-transparent navbar-fixed-top navbar-color-on-scroll" color-on-scroll=" " id="sectionsNav">
      <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">🛴Scooters Anywhere</a> 
          </div>

          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
           <li>
                <a href="ubicacion">
                  <i class="material-icons">map</i> Ubicación Scooters
                </a>
              </li>
            <li>
            <a href="/">
              <i class="material-icons">admin_panel_settings</i>Seguridad
            </a>
            </li>

<li class="dropdown">
            <a href="compania" class="dropdown-toggle" data-toggle="dropdown">

              <i class="material-icons">apartment</i> Compañía
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu dropdown-with-icons">




              <li>
                <a href="funcionamiento">
                  <i class="material-icons">architecture</i>Cómo funciona Scooters Anywhere
                </a>
              </li>




              <li>
                <a href="blog">
                  <i class="material-icons">group</i>Blog
                </a>
              </li>


              <li>
                <a href="ayuda">
                  <i class="material-icons">contact_phone</i>Ayuda
                </a>
              </li>
            </ul>
          </li>


          <li class="dropdown">
            <a href="/" class="dropdown-toggle" data-toggle="dropdown">

              <i class="material-icons">person</i> Perfil
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu dropdown-with-icons">




              <li>
                <a href="/">
                  <i class="material-icons">emoji_people</i>Iniciar Sesión
                </a>
              </li>




              <li>
                <a href="registro">
                  <i class="material-icons">person_add</i>Regístrate
                </a>
              </li>

              <li>
                <a href="/">
                  <i class="material-icons">sentiment_very_dissatisfied</i>Olvidé contraseña
                </a>
              </li>

            </ul>
          </li>
        
          

            </ul>
          </div>
      </div>
    </nav>
    


<div class="page-header header-filter" style="background-image: url('/fondo.jpg');height: 100vh; background-position: top center;">
    <div class="container">
        <div class="alert alert-danger" role="alert" id="loginAlert">
            <div class="alert-icon">
                <i class="material-icons">error_outline</i>
              </div>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="material-icons">clear</i></span>
              </button>
              <b>Error de Autenticación:</b> Usuario o contraseña incorrectos
        </div>


        <div class="alert alert-success" role="alert" id="signAlert">
            <div class="alert-icon">
                <i class="material-icons">error_outline</i>
              </div>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="material-icons">clear</i></span>
              </button>
              <b>Regitro de usuario: </b> Se ha registrado al usuario correctamente.
        </div>


    <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center">
            <h3 class="title">Iniciar sesión</h3>
                      <h4>Ingrese sus datos por favor</h4>
                </div>
            </div>
  

      <div class="row">
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
          <div class="card card-signup">
            <form class="form" action ="auth" method="POST">
              <div class="card-content">
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="material-icons">face</i>
                  </span>
                  <div class="form-group label-floating">
                <label class="control-label">Correo electrónico</label>
                <input type="email" name="username" class="form-control" required>
              </div>
                </div>

                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="material-icons">lock_outline</i>
                  </span>
                  <div class="form-group label-floating">
                <label class="control-label">Contraseña</label>
                <input type="password" name="password" class="form-control" required>
              </div>
                </div>
              </div>
              <div class="footer text-center">
                <button type="submit" class="btn btn-info">Entrar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
            
</body>

<script src="/js/jquery.min.js" type="text/javascript"></script>
  <script src="/js/bootstrap.min.js" type="text/javascript"></script>
  <script src="/js/material.min.js"></script>
<script>
        $('#loginAlert').hide();
        $('#signAlert').hide();
        var urlParams = new URLSearchParams(window.location.search);
        var myParam = urlParams.get('info');
        if(myParam == "Incorrect_Credential") {
            $('#loginAlert').show();
        }
        if(myParam == "signedup") {
            $('#signAlert').show();
        }
    </script>
  <!--  Plugin for Date Time Picker and Full Calendar Plugin-->
  <script src="/js/moment.min.js"></script>

  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="/js/nouislider.min.js" type="text/javascript"></script>

  <!--  Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
  <script src="/js/bootstrap-datetimepicker.js" type="text/javascript"></script>

  <!--  Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
  <script src="/js/bootstrap-selectpicker.js" type="text/javascript"></script>

  <!--  Plugin for Tags, full documentation here: http://xoxco.com/projects/code/tagsinput/  -->
  <script src="/js/bootstrap-tagsinput.js"></script>

  <!--  Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
  <script src="/js/jasny-bootstrap.min.js"></script>

  <!-- Plugin For Google Maps -->
  <script  type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBn4Uga7u3Ae37I8Ll9u3sVbEsnjZYKtQQ"></script>



  <!-- Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc -->
  <script src="/js/material-kit.js?v=1.2.1" type="text/javascript"></script>

  <!-- Fixed Sidebar Nav - JS For Demo Purpose, Don't Include it in your project -->
  <script src="/assets-for-demo/modernizr.js" type="text/javascript"></script>
  <script src="/assets-for-demo/vertical-nav.js" type="text/javascript"></script>

  <script type="text/javascript">

    $(document).ready(function(){
      var slider = document.getElementById('sliderRegular');

          noUiSlider.create(slider, {
              start: 40,
              connect: [true,true],
              range: {
                  min: 0,
                  max: 100
              }
          });

          var slider2 = document.getElementById('sliderDouble');

          noUiSlider.create(slider2, {
              start: [ 20, 60 ],
              connect: true,
              range: {
                  min:  0,
                  max:  100
              }
          });



      materialKit.initFormExtendedDatetimepickers();

    });
  </script>
 
    

  <script type="text/javascript">
    $().ready(function(){

      materialKitDemo.initContactUs2Map();
    }); 
  </script>
 
</html>
